{% extends '::base.html.twig' %}

{% block title %}new bundle {% endblock %}
{% block body %}
    <div>
        <h3>eeee</h3>
    </div>
    {% render(controller('AcmeDemoBundle:Welcome:name',{'name':'Beki'})) %}
{% endblock %}